<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- # gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find ros_my_robot_gazebo)/worlds/empty.world" /> -->
        <!-- <arg name="world_name" value="$(find ros_my_robot_gazebo)/worlds/cloister_asphalt.world" /> -->
        <!-- <arg name="world_name" value="$(find ros_my_robot_gazebo)/worlds/playpen_asphalt.world" /> -->
        <!-- <arg name="world_name" value="$(find ros_my_robot_gazebo)/worlds/cloister.world" /> -->
        <arg name="world_name" value="$(find ros_my_robot_gazebo)/worlds/playpen.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <!-- # spawm robots -->
    <group ns="car1">
        <include file="$(find ros_my_robot_gazebo)/launch/spawn_mrobot.launch">
            <arg name="ns" value="car1" />
            <arg name="tf_odom_enabled" value="true" />
            <arg name="x" value="0.0" />
            <arg name="y" value="0.0" />
            <arg name="Y" value="0.0" />
        </include>
    </group>

    <group ns="car2">
        <include file="$(find ros_my_robot_gazebo)/launch/spawn_mrobot.launch">
            <arg name="ns" value="car2" />
            <arg name="tf_odom_enabled" value="true" />
            <arg name="x" value="0.0" />
            <arg name="y" value="-5.0" />
            <arg name="Y" value="0.0" />
        </include>
    </group>

</launch>
