<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- # args -->
    <arg name="tf_odom_enabled" default="false" />
    <arg name="ns" default="" />
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="Y" default="0.0" />

    <!-- # gazebo spawm -->
    <!-- # the spawn pose yaw 0 means the robot heading to +x axis in gazebo -->
    <param name="robot_description"
           command="$(find xacro)/xacro
                    --inorder
                    '$(find ros_my_robot_gazebo)/urdf/mrobot/main.xacro'
                    tf_odom_enabled:=$(arg tf_odom_enabled)
                    ns:=$(arg ns)
                    " />

    <node name="spawner_model"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-x $(arg x)
                -y $(arg y)
                -z 0.2
                -R 0
                -P 0
                -Y $(arg Y)
                -urdf
                -model $(arg ns)
                -param robot_description" />

    <!-- robot state -->
    <include file="$(find ros_my_robot_gazebo)/launch/_state_pub.launch">
        <arg name="ns" value="$(arg ns)" />
    </include>

</launch>
